/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-left: 25px;
  margin-right: 25px;

  /*
  Colors used
  Text Color (Black): #000;
  Primary Color (Blue): #0066ff;
  Secondary Color (Red): #ff0000;
   */
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list li .navigation-list__item--active {
  text-decoration: none;
  border-bottom: none;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #c2c2a3;
  padding: 5px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 10px;
  flex: 0 1 10px;
  height: 100px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.logo {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}

.work {
  margin: 0 auto;
  text-align: center;
}

.contact {
  margin: 0 auto;
  text-align: center;
}

#contact-form input,
#client-input {
  margin-top: 20px;
  margin-right: 50px;
  width: 300px;
  height: auto; /* Change to 'auto' or an appropriate value */
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 10px;
}

/* Apply these styles for the side-by-side layout */
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add some space between the input groups */
}

.input-group label {
  flex: 1; /* Make the label take as much space as needed */
  margin-right: 10px; /* Add space between label and input */
}

.contact-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  margin: 0 auto;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.profile__portrait {
  width: 250px;
  height: 250px;
  float: left;
  margin-right: 40px;
  border-radius: 50%;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

.button {
  border: none;
  display: inline-block;
  vertical-align: middle;
  font-family: inherit;
  background-color: #06f;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer; /* lets the mouse appear as a hand when hovering over the button */
  opacity: 0.8; /* reduces the opacity of the button to 80% */
}

.button__secondary {
  background-color: #ff0;
  color: #2b2b2b;
}

a {
  color: #06f;
  text-decoration: none;
}

a {
  /* overwrites browser defaults */ /* resets the border */
  border: 1px;
  color: #f00;
  padding: 2px;
  -webkit-transition: 0.8s opacity;
  -o-transition: 0.8s opacity;
  transition: 0.8s opacity;
}

a:visited {
  color: #06f; /* visited link */
}

a:hover a:focus {
  text-decoration: underline; /* No underlining when hovering over a link */
}

a:active {
  color: #f00; /* selected link */
}

@-webkit-keyframes emu-move {
  from {
    -webkit-transform: translate(0, 8px);
    transform: translate(0, 8px);
  }

  to {
    -webkit-transform: translate(2000px, 8px);
    transform: translate(2000px, 8px);
  }
}

@keyframes emu-move {
  from {
    -webkit-transform: translate(0, 8px);
    transform: translate(0, 8px);
  }

  to {
    -webkit-transform: translate(2000px, 8px);
    transform: translate(2000px, 8px);
  }
}

.emu {
  -webkit-animation: 8s emu-move infinite alternate linear;
  animation: 8s emu-move infinite alternate linear;
}

@-webkit-keyframes kangaroo_light-move-reverse {
  from {
    -webkit-transform: translate(-20px);
    transform: translate(-20px);
  }

  to {
    -webkit-transform: translate(-2000px);
    transform: translate(-2000px);
  }
}

@keyframes kangaroo_light-move-reverse {
  from {
    -webkit-transform: translate(-20px);
    transform: translate(-20px);
  }

  to {
    -webkit-transform: translate(-2000px);
    transform: translate(-2000px);
  }
}

.kangaroo_light {
  -webkit-animation: 8s kangaroo_light-move-reverse infinite alternate linear;
  animation: 8s kangaroo_light-move-reverse infinite alternate linear;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
}

.projects_item {
  background-color: lightgray;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 95%;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

@media all and (max-width: 500px) {
  .projects {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .projects {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .projects {
    grid-gap: 10px;
  }

  .projects_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}
